.container {
  
}

.News-container {
  
  height: 100%;
}

.heading {
  font-size: 20px;
  text-decoration: underline;

  font-weight: 519;
  padding: 5px;

  padding-left: 22px;

}
.btn{
  border: 2px solid black;
  padding: 5px;
  border-radius: 6px;
  background-color: #dc2626;
  color: white;
  margin: 3px;
}
.btn2{
  border: 2px solid black;
  padding: 5px;
  border-radius: 6px;
  background-color: black;
  color: white;
  margin: 3px;
}
.my-button[disabled] {
  background-color: black; /* change this to your desired color */
  opacity: 0.5; /* optional, to make the button semi-transparent */
}